@model PowerBIEmbedded_AppOwnsData.Models.EmbedConfig
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://npmcdn.com/es6-promise@3.2.1"></script>
<script src="~/scripts/powerbi.js"></script>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div id="errorWrapper">
        <h2>
            Error
        </h2>
        <pre>
            @Model.ErrorMessage
        </pre>
    </div>

    return;
}

<h2>Embedded Report</h2>

<div id="reportContainer"></div>

<button onclick="getFilters()">Get Filters</button>
<button onclick="setFilters()">Set Filters</button>

<div class="infoBox">
    <div class="inputLine">
        <div class="inputLineTitle">Access Token</div>
        <input type="text" value="@Model.EmbedToken.Token">
    </div>
    <div class="inputLine">
        <div class="inputLineTitle">Embed URL</div>
        <input type="text" value="@Model.EmbedUrl">
    </div>
    <div class="inputLine">
        <div class="inputLineTitle">Report Id</div>
        <input type="text" value="@Html.Raw(Model.Id)">
    </div>
</div>

<script>

    function getFilters() {

        // Get a reference to the embedded report HTML element
        var embedContainer = $('#reportContainer')[0];

        // Get a reference to the embedded report.
        report = powerbi.get(embedContainer);

        // Get the filters applied to the report.
        report.getFilters()
            .then(function (filters) {
                console.log(filters);
            })
            .catch(function (errors) {
                console.log(errors);
            });
    }

    function setFilters() {
    // Build the filter you want to use. For more information, See Constructing
    // Filters in https://github.com/Microsoft/PowerBI-JavaScript/wiki/Filters.
    var filter = {
        $schema: 'http://powerbi.com/product/schema#advanced',
        target: {
            table: 'DimDate',
            column: 'Date'
        },
        logicalOperator: 'And',
        conditions: [
            {
                operator: 'GreaterThanOrEqual',
                value: '2018-08-01'
            }
        ]
    };

// Get a reference to the embedded report HTML element
        var embedContainer = $('#reportContainer')[0];

// Get a reference to the embedded report.
    report = powerbi.get(embedContainer);

// Set the filter for the report.
// Pay attention that setFilters receives an array.
    report.setFilters([filter])
        .then(function () {
            console.logText("Report filter was set.");
        })
        .catch(function (errors) {
            console.log(errors);
        });

        }

    // Read embed application token from Model
    var accessToken = "@Model.EmbedToken.Token";

    // Read embed URL from Model
    var embedUrl = "@Html.Raw(Model.EmbedUrl)";

    // Read report Id from Model
    var embedReportId = "@Model.Id";

    // Get models. models contains enums that can be used.
    var models = window['powerbi-client'].models;

    // Embed configuration used to describe the what and how to embed.
    // This object is used when calling powerbi.embed.
    // This also includes settings and options such as filters.
    // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
    var config = {
        type: 'report',
        tokenType: models.TokenType.Embed,
        accessToken: accessToken,
        embedUrl: embedUrl,
        id: embedReportId,
        permissions: models.Permissions.All,
        settings: {
            filterPaneEnabled: false,
            navContentPaneEnabled: true
        }
    };

    // Get a reference to the embedded report HTML element
    var reportContainer = $('#reportContainer')[0];

    if ("@Model.Username" != "") {
        $("#RLS").prop('checked', true);
        $("#RLSdiv").show();
    }
    else
    {
        $("#RLS").prop('checked', false);
        $("#RLSdiv").hide();
    }

    if ("@Model.IsEffectiveIdentityRequired.GetValueOrDefault()" == "True") {
        $("#noRLSdiv").hide();
        $("#RLS").removeAttr("disabled");
        $("#RLS").change(function () {
            if ($(this).is(":checked")) {
                $("#RLSdiv").show(300);
            } else {
                $("#RLSdiv").hide(200);
            }
        });
    }
    else
    {
        $("#noRLSdiv").show();
    }
    // Embed the report and display it within the div container.
    var report = powerbi.embed(reportContainer, config);
</script>